.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    overflow-y: hidden;
}

.main__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: #454636;
}


.col1 {
    display: flex;
    position: relative;
    z-index: 9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #454636;
    flex: 1;
}

.col2 {
    display: flex;
    position: relative;
    z-index: 9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #7b5543b3;
    flex: 2;
}

.col3 {
    display: flex;
    position: relative;
    z-index: 9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #454636;
    flex: 1;
}

.main__container-mobile {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    top: 3rem;
}

.main__title-mobile {
    padding-top: 5em;
}

.main__container-mobile h1 {
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    font-family: 'ClashDisplay-Bold';
}

.main__container-mobile h2 {
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    font-family: 'ClashDisplay-Bold';
}

.main__image-mobile {
    position: absolute;
    z-index: 19;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    top: 10rem;

}

.main__image-mobile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 40rem;
}

.main__text-container {
    position: relative;
    z-index: 19;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__text-container h3 {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    font-family: 'ClashDisplay-Regular';
}

.main__text-container h4 {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    font-family: 'ClashDisplay-Regular';
    color: var(--text-color);
}


.image__circle-mobile {
    position: absolute;
    z-index: 19;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 15vw;
    top: 25rem;
    border-radius: 50%;
    left: 17rem;
    background-color: #ffffda;
    border: 5px solid var(--nav-overlay-color);
    cursor: pointer;
}

.rotate {
    animation: rotateIcon 10s cubic-bezier(0.96, 1, 0.8, 0.7) infinite;
}

/* Define the animation keyframes */
@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
        transition: all 2s cubic-bezier(0.96, 1, 0.8, 0.7);

    }

    to {
        transform: rotate(360deg);
        transition: all 2s cubic-bezier(0.96, 1, 0.8, 0.7);

    }
}




@media (max-width: 389px) {
    .main__image-mobile {
        top: 15rem;
    }
    .main__container-mobile {
        top: 3rem;
    }
}