.nav__container-mobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}

.nav__left-mobile span{
    font-size: 1rem;
    font-weight: 700;
    color: var(--title-color);
    font-family: 'ClashDisplay-Bold';
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: var(--title-color);
    text-underline-offset: 0.7rem;
    cursor: pointer;
}

.nav__middle-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6.5rem;
}

.nav__middle-mobile h1 {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: normal;
    padding-left: 4rem;
}

@media (max-width: 398px) {
    .nav__container-mobile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
    }

    .nav__left-mobile span{
        font-size: 0.9rem;
        width: 30vw;
        font-weight: 700;
        color: var(--title-color);
        font-family: 'ClashDisplay-Bold';
        text-transform: uppercase;
        text-decoration: none;
        text-decoration-color: transparent;
        text-underline-offset: 0.5rem;
        cursor: pointer;
    }

    .nav__middle-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4.5rem;
    }

    .nav__middle-mobile h1 {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: normal;
        padding-left: 2rem;
    }
}