
.nav-social-media {
    display: flex;
    list-style: none;
    text-decoration: none;
    font-family: "Satoshi-Bold", sans-serif;

    transition: all 5s cubic-bezier(0.16, 1, 0.3, 1 );
    cursor: pointer;
    letter-spacing: 0.3rem;
    margin: 2rem 0;
}

.nav-social-media ul {
    display: flex;
    gap: 2rem;
}

.nav-social-media ul li {
    position: relative;
    list-style: none;
    text-decoration: none;
    font-family: "Satoshi-Bold", sans-serif;
    color: var(--nav-overlay-color);
    opacity: 1;
    transition: all 5s cubic-bezier(0.16, 1, 0.3, 1 );
    cursor: pointer;
    letter-spacing: 0.3rem;
    
}

.location {
    position: relative;
    bottom: -20%;
    list-style: none;
    text-decoration: none;
    font-family: "Satoshi-Bold", sans-serif;
    color: var(--container-color);
    padding-left: 2em;
    opacity: 0.5;
    transition: all 5s cubic-bezier(0.16, 1, 0.3, 1 );
    text-transform: lowercase;
}

.location h4 {
    color: var(--container-color);
}

@media (max-width: 454px) {

    .nav-social-media {
        display: flex;
    }
    .nav-social-media ul li a {
            
    display: flex;
    font-size: 0.75rem;
    }
  
  }